.banner{
  width: 100%;
  margin: 0;
}

.nav{
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  background-color: #F6A7B5;
  padding: .25em;
  margin-top: -4px;
}

.nav a{
  text-decoration: none;
  color: #d11d53;
}

.nav a:hover{
  text-decoration: underline;
}

.title{
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  font-size: 35px;
  font-weight: bolder;
  padding-top: 5%;
  /* text-decoration: underline solid rgba(192, 192, 192, 0.5); */
}

.dashboardtitle{
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  gap: -2rem;
  justify-content: space-around;
  flex-direction: row;
  border-bottom: 3px solid rgba(192, 192, 192, 0.5);
}

.dashboardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-top: 3em;
  background-color: lightgrey;
  padding-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  border-radius: 7%;
}

.dashboardtext{
  font-weight: bolder;
  margin: 1em;
}

.recommendedtitle{
  font-weight: bolder;
  margin-bottom: 1em;
}

.mapcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  width: auto;
  height: auto;
  border-top: 3px solid rgba(192, 192, 192, 0.5);
}

.map {
  width: 50%;
  height: 300px;
  width: auto;
  height: auto;
  padding: 2%;
}

ul {
  list-style-type: circle;
  padding-left: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-left: 3em;
}

.card{
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 17em;
  max-height: fit-content;
  background-color: #FCDCD1;
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  font-family: 'Georgia';
  cursor: pointer;
  transition: .5s;
}

.card:hover{
  transform: scale(1.05);
}

.activitytitle{
  display: flex;
  justify-content: center;
  padding-bottom: .5em;
  font-size: 35px;
  font-weight: bolder;
}

.activitycontainer{
  padding: 1em;
  background-color: lightgray;
  margin: 1em;
}

.buttoncontainer{
  display: flex;
  justify-content: space-between;
}

.crudbutton {
  display: flex;
  background-color: white; /* Set the background color */
  color: black; /* Set the text color */
  padding: 10px 15px; /* Add some padding */
  border: solid black;
  cursor: pointer; /* Add a cursor on hover */
  font-size: 16px; /* Increase the font size */
  border-radius: 4px; /* Add some rounded corners */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add a drop shadow */
  margin: auto;
}

.crudbutton:hover {
  background-color: darkblue; /* Change the background color on hover */
}

.button-80 {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  float: right;
  margin-top: 1em;
  margin-right: 2em;
  margin-bottom: -10em;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}

.formcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  margin-top: 5%;
  padding-bottom: 5%;
  border-radius: 7%;
  font-weight: bold;
}

.inputfields{
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 3em;
}

.checkboxes{
  margin-top: 2em;
}

label{
  margin-bottom: 10px;
}
