.banner{
  width: 100%;
  margin: 0;
}

.nav{
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  background-color: #F6A7B5;
  padding: .25em;
  margin-top: -4px;
}

.nav a{
  text-decoration: none;
  color: #d11d53;
}

.nav a:hover{
  text-decoration: underline;
}

.title{
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.dashboardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.card{
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 17em;
  max-height: fit-content;
  background-color: #FCDCD1;
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  font-family: 'Georgia';
  cursor: pointer;
  transition: .5s;
}

.card:hover{
  transform: scale(1.05);
}

